*{
box-sizing: border-box;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
color: #545454;
}

body {
    background-color: #d3d3d3;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
}

section#pg1, main#pg2, div#carrinho{
    display: flex;
    flex-direction: column;
}

main#pg2, div#carrinho{
    align-items: center;
}

section#pg1, div#carrinho{
    justify-content: center;
}

section#pg1{
    background-color:  #00b4b7;
    width: 457px; /*30vw*/
    height: 507px; /*70vh*/
    justify-content: end;
}

main#pg2{
    background-color: #fefefe;
    width: 610px; /*40vw*/
    height: 578px; /*80vh*/
    padding: 0px 40px 0px 40px;
    justify-content: center;

}

section#pg1 > img{
    filter:drop-shadow(20px 20px 20px #000000);
    margin: 30px 50px 0px 0px;
}

section#add{
    background-color: #00000087;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

div#carrinho{
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: #000000 2px solid;
}

div#carrinho > .titulo > h1{
    font-size: 30pt;
    margin: 0;
}

div#carrinho > .titulo > h2{
    margin-top: 0;
}

div#carrinho > img{
    width: 200px;
    height: 200px;
}

div#carrinho > .subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#carrinho > .subtitulo > p{
    padding: 0px 20px 0px 20px;
    font-size: 20pt;
    text-align: center;
}

div#carrinho > .subtitulo > a > button{
    width: 200px;
    height: 40px;
    background-color: #007a7c;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

h1{
    color: #000000;
}

div.button{
    display: flex;
    gap: 20px;
}

div.button > button{
    width: 200px;
    height: 40px;
    cursor:pointer;
}

div.button > button:nth-child(1){
    background-color: #008a8d;
    border: none;
    color: #ffffff;
}

div.button > button:nth-child(2){
    background-color: #ffffff;
    border: rgb(112, 112, 112) 1px solid;
}

div.button > button:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}

